.dashboard{
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}
.dashboard__body{
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  margin-top: 100px;
}